@config "../../tailwind.config.js";
@import "./theme.css";

@source "../**/*.razor";
@source "../**/*.html";
@source "../**/*.cshtml";

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

main h1[tabindex="-1"]:focus {
  outline: none;
}
